Flask==3.0.3
flask-cors==4.0.1
SQLAlchemy==2.0.35
alembic==1.13.3
psycopg[binary]==3.2.3
pydantic==2.9.2
PyJWT[crypto]==2.9.0
cryptography==43.0.1
boto3==1.35.36
gunicorn==23.0.0
python-dotenv==1.0.1
