<div class="carousel-container">
    <!-- Previous Question Button -->
    <div class="carousel-nav">
      <button (click)="previousQuestion()" class="nav-button">
        <span class="arrow up">&#8593;</span> <!-- Up arrow -->
        <div class="nav-text-container">
          <span class="nav-text">Previous</span>
          <span class="nav-text">question</span>
        </div>
      </button>
    </div>
  
    <!-- Question and Answers -->
    <ng-container *ngIf="showSlide">
      <div class="question-container" @slideInOut>
        <h2 class="question-header">{{ currentQuestion.question }}</h2>
  
        <!-- Display answers and bind click to selection -->
        <div class="answer-container" *ngFor="let answer of currentQuestion.answers">
          <button 
            mat-raised-button 
            [ngClass]="{ 'selected-answer': isSelected(answer.value) }" 
            (click)="selectAnswer(answer.value)">
            {{ answer.text }}
          </button>
        </div>
      </div>
    </ng-container>
  
    <!-- Next Question Button -->
    <div class="carousel-nav">
      <button (click)="nextQuestion()" class="nav-button">
        <div class="nav-text-container">
          <span class="nav-text">Next</span>
          <span class="nav-text">question</span>
        </div>
        <span class="arrow down">&#8595;</span> <!-- Down arrow -->
      </button>
    </div>
  </div>
  