<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<div class="about-enneatype-container">
  <div class="top-section">
    <div class="top-center">
      <div class="enneatype-number">{{ enneatypeNumber }}</div> <!-- Display the Enneatype number -->
      <div class="enneatype-title"> {{ enneatypeTitle }}</div> <!-- Title for the type -->
    </div>
  </div>
  <div class="middle-section">
    <div class="cards-row">
      <mat-card class="strengths">
        <mat-card-title>Strengths</mat-card-title>
        <mat-card-content>
          <ul>
            <li *ngFor="let strength of strengths">{{ strength }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card class="weaknesses">
        <mat-card-title>Weaknesses</mat-card-title>
        <mat-card-content>
          <ul>
            <li *ngFor="let weakness of weaknesses">{{ weakness }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card class="growth">
        <mat-card-title>Growth</mat-card-title>
        <mat-card-content>
          <p>{{ growth }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="stress">
        <mat-card-title>Stress</mat-card-title>
        <mat-card-content>
          <p>{{ stress }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="bottom-section">
    <mat-card class="description" style="width: 100%;">
      <mat-card-title>About your Enneatype</mat-card-title>
      <mat-card-content>
        <p>{{ description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
