.sign-up-card {
  max-width: 300px; /* Increase the card width */
  padding: 20px; /* Add padding inside the card for a larger look */
}

mat-dialog-container {
  width: 500px;
  padding: 20px;
}

/* Style for the button row */
.button-row {
  display: flex;
  justify-content: space-between; /* Space the buttons */
  margin-top: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

/* Style for the cancel button */
.cancel-btn {
  color: #fff; /* White text color */
  background-color: #FF6D33; /* Custom background color */
}

/* Style for the create account button */
.create-account-btn {
  color: #fff; /* White text color */
  background-color: #1A7F5B; /* Custom background color */
}

/* Additional hover styles for buttons */
.cancel-btn:hover {
  background-color: #E64A19; /* Darker shade for hover */
}

.create-account-btn:hover {
  background-color: #155D40; /* Darker shade for hover */
}
