<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<h2 mat-dialog-title class="title">User Profile</h2>
<div mat-dialog-content>
  <div class="profile-container">
    <div class="profile-image">
      <img src="path/to/profile-image.jpg" alt="Profile Picture" class="pfp">
      <button mat-icon-button (click)="editProfilePicture()" class="edit-button">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="changeFrameColor()" class="color-button">
        <div class="color-icon"></div>
      </button>
    </div>

    <div class="input-container">
      <mat-form-field appearance="fill" class="flex-input">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" [readonly]="!editMode">
      </mat-form-field>
      <button mat-icon-button *ngIf="!editMode" (click)="editField('username')">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="editMode" (click)="cancelEdit()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button *ngIf="editMode" (click)="confirmEdit()">
        <mat-icon>check</mat-icon>
      </button>
    </div>

    <div class="input-container">
      <mat-form-field appearance="fill" class="flex-input">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" [readonly]="!editMode">
      </mat-form-field>
      <button mat-icon-button *ngIf="!editMode" (click)="editField('email')">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="editMode" (click)="cancelEdit()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button *ngIf="editMode" (click)="confirmEdit()">
        <mat-icon>check</mat-icon>
      </button>
    </div>

    <div class="input-container">
      <mat-form-field appearance="fill" class="flex-input">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" [readonly]="!editMode">
      </mat-form-field>
      <button mat-icon-button *ngIf="!editMode" (click)="editField('password')">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="editMode" (click)="cancelEdit()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button *ngIf="editMode" (click)="confirmEdit()">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()" style="background-color: #FF6D33; font-family: 'Inter'; color: aliceblue;">Close</button>
</div>
