<div class="about-us-container">
    <!-- About NureonAI Card -->
    <mat-card class="about-card">
      <mat-card-header>
        <mat-card-title class="title">
          About <span class="nureonai-font">NureonAI</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          NureonAI is an AI-powered tool designed to accurately predict personality types based on the Enneagram theory. Tailored for health professionals, HR specialists, and individuals seeking self-discovery, NureonAI provides deep insights into personality and motivation, helping users make more informed decisions in personal development and professional settings.
        </p>
      </mat-card-content>
    </mat-card>
  
    <!-- Mission and Vision Cards in a row -->
    <div class="mission-vision-container">
      <!-- Mission Card -->
      <mat-card class="mission-card">
        <mat-card-header>
          <mat-card-title class="title">Our Mission</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Our mission is to provide cutting-edge, AI-driven personality insights to empower individuals and professionals to make informed decisions about personal growth and professional development.
          </p>
        </mat-card-content>
      </mat-card>
  
      <!-- Vision Card -->
      <mat-card class="vision-card">
        <mat-card-header>
          <mat-card-title class="title">Our Vision</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            We envision a world where understanding personality and motivation leads to more personalized and effective solutions for mental health, career development, and self-discovery.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- Why the Enneagram Card -->
    <mat-card class="why-enneagram-card">
      <mat-card-header>
        <mat-card-title class="title">Why the Enneagram</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Enneagram provides a powerful framework for understanding the diverse motivations, fears, and behaviors that drive human personality. By utilizing the Enneagram in NureonAI, we offer deep and personalized insights that help users navigate personal and professional relationships, self-growth, and career choices with greater clarity.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  