<div class="landing-page-container">
    <div class="left-section">
      <div class="content-wrapper">
        <label class="title">NureonAI</label>
        <img src="/assets/landingPageAssets/enneagram.svg" class="logo-placeholder">
        <button mat-raised-button color="primary" (click)="openLoginDialog()" class="login-button">Log In</button>
        <button mat-raised-button color="accent" (click)="openSignupDialog()" class="signup-button">Create Account</button>
      </div>
      <div class="button-container">
      </div>
    </div>
    <div class="right-section">
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra a erat eu dictum. Aliquam eu eros ut urna pulvinar accumsan. Pellentesque ornare ornare arcu ac semper. Donec egestas fermentum odio, sit amet tincidunt dolor malesuada at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean id mauris non est rutrum faucibus in id elit. Duis ut arcu mattis, aliquet sapien eu, malesuada felis. Integer lobortis dapibus ex nec tincidunt. Ut ullamcorper orci luctus est convallis, eget dapibus velit bibendum.</div>
                <div class="carousel-slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra a erat eu dictum. Aliquam eu eros ut urna pulvinar accumsan. Pellentesque ornare ornare arcu ac semper. Donec egestas fermentum odio, sit amet tincidunt dolor malesuada at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean id mauris non est rutrum faucibus in id elit. Duis ut arcu mattis, aliquet sapien eu, malesuada felis. Integer lobortis dapibus ex nec tincidunt. Ut ullamcorper orci luctus est convallis, eget dapibus velit bibendum.</div>
                <div class="carousel-slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra a erat eu dictum. Aliquam eu eros ut urna pulvinar accumsan. Pellentesque ornare ornare arcu ac semper. Donec egestas fermentum odio, sit amet tincidunt dolor malesuada at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean id mauris non est rutrum faucibus in id elit. Duis ut arcu mattis, aliquet sapien eu, malesuada felis. Integer lobortis dapibus ex nec tincidunt. Ut ullamcorper orci luctus est convallis, eget dapibus velit bibendum.</div>
            </div>
            <div class="carousel-indicators-container">
                <div class="carousel-indicators">
                    <span class="indicator active" data-slide-to="0"></span>
                    <span class="indicator" data-slide-to="1"></span>
                    <span class="indicator" data-slide-to="2"></span>
                </div>
            </div>
        </div>
    </div>
    <script src="/landing-page/landing-page.component.js"></script>
</div>