.landing-page-container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.left-section {
  width: 33.33%; /* One third of the container */
  background-color: #1A7F5B; /* Light grey background for visibility */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  width: 66.67%; /* Two thirds of the container */
  background-color: #ffffff; /* White background */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 100px;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'museomoderno';
  font-weight: bold;
}

.logo-placeholder{
  width: 500px;
  height: 500px; /* Maintain aspect ratio */
}

.login-button{
  background-color: #ffffff !important ;
  color: #000000;
  font-size: large;
  font-family: 'Inter', sans-serif;
  border: none;
  padding: 10px 20px;
  margin: 5px 0; /* Vertical margin */
  cursor: pointer;
  display: block; /* Make buttons block elements */
  width: 100%; /* Full width */
}

.signup-button{
  background-color: #ffbf1f !important;
  color: #000000;
  font-size: large;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  margin: 5px 0; /* Vertical margin */
  cursor: pointer;
  display: block; /* Make buttons block elements */
  width: 100%; /* Full width */
}


/* Carousel styles */
.carousel-container {
  width: 80%; /* Adjust as needed */
  height: 60%; /* Adjust as needed */
  display: flex;
  flex-direction: column; /* Stack carousel and indicators vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Make the container a positioned element */
}

/* Carousel styles */
.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide {
  width: 60%;
  height: 120%;
  display: none; /* Hide all slides initially */
  justify-content: center;
  align-items: center;
  font-size: 27px;
  color: #333333;
  text-align: center;
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 1s ease-in-out; /* Fade-in effect */
  line-height: 1.35; /* Increase line spacing */
}

.carousel-slide.active {
  display: flex; /* Show the active slide */
  opacity: 1; /* Fade to opacity 1 */
}

.carousel-indicators-container {
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  margin: 0 auto; /* Center horizontally */
  width: auto; /* Adjust width as needed */
  z-index: 1; /* Ensure indicators are above slides */
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #5BC795;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #1A7F5B;
}