<div class="landing-page-container">
    <div class="left-section">
      <div class="content-wrapper">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <label class="title">NureonAI</label>
        <img src="/assets/landingPageAssets/enneagram.svg" class="logo-placeholder">
        <button mat-raised-button (click)="openLoginDialog()" class="login-button">Log In</button>
        <button mat-raised-button (click)="openSignupDialog()" class="signup-button">Create Account</button>
      </div>
      <div class="button-container">
      </div>
    </div>
    <div class="right-section">
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-slide">NureonAI es una plataforma web que identifica tipos de personalidad usando Machine Learning y la teoría del Eneagrama. Su cuestionario interactivo permite un análisis preciso de las motivaciones, brindando resultados personalizados para distintos usuarios, ya sea en salud, recursos humanos o uso personal.</div>
                <div class="carousel-slide">Herramienta profesionales de la salud y recursos humanos a comprender mejor a sus pacientes o candidatos. A través del análisis de motivaciones, ofrece resultados rápidos y detallados que optimizan la toma de decisiones y el trato personal.</div>
                <div class="carousel-slide">Enfoque innovador, combina Machine Learning y el Eneagrama para ofrecer una experiencia interactiva. El sistema presenta resultados precisos y ajustados, proporcionando valor agregado con menos preguntas y más profundidad en el análisis.</div>
            </div>
            <div class="carousel-indicators-container">
                <div class="carousel-indicators">
                    <span class="indicator active" data-slide-to="0"></span>
                    <span class="indicator" data-slide-to="1"></span>
                    <span class="indicator" data-slide-to="2"></span>
                </div>
            </div>
        </div>
    </div>
    <script src="/landing-page/landing-page.component.js"></script>
</div>