<!-- main-screen.component.html -->
<div class="nav-bar">
  <button mat-icon-button (click)="toggleSidenav()" class="hamburger">
    <mat-icon>menu</mat-icon>
  </button>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <span class="title">NureonAI</span>

  <!-- Profile Menu -->
  <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-icon">
    <mat-icon>account_circle</mat-icon> <!-- Profile icon -->
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="navigateToProfile()">
      Profile
    </button>
    <button mat-menu-item (click)="changeLanguage()">
      Language
    </button>
    <button mat-menu-item (click)="logout()">
      Logout
    </button>
  </mat-menu>
</div>

<mat-sidenav-container class="sidenav-container">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  
  <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="sidenavOpened">
    <div class="button-container">
      <!-- Sidenav buttons with icons -->
      <button mat-button 
              [ngClass]="{'active-button': activeSection === 'Take the test'}" 
              (click)="setActiveSection('Take the test')"
              routerLink="test">
        <mat-icon>check_circle</mat-icon> Take the test
      </button>
      <button mat-button 
              [ngClass]="{'active-button': activeSection === 'View results'}" 
              (click)="setActiveSection('View results')"
              routerLink="results">
        <mat-icon>assessment</mat-icon> View results
      </button>
      <button mat-button 
              [ngClass]="{'active-button': activeSection === 'About your enneatype'}" 
              (click)="setActiveSection('About your enneatype')"
              routerLink="about-enneatype">
        <mat-icon>info</mat-icon> About your enneatype
      </button>
      <button mat-button 
              [ngClass]="{'active-button': activeSection === 'About us'}" 
              (click)="setActiveSection('About us')"
              routerLink="about-us">
        <mat-icon>group</mat-icon> About us
      </button>
      <button mat-button 
              [ngClass]="{'active-button': activeSection === 'Contact'}" 
              (click)="setActiveSection('Contact')"
              routerLink="contact">
        <mat-icon>contact_mail</mat-icon> Contact
      </button>

      <!-- HR Sidebar Button -->
      <button *ngIf="userType === 'H'" mat-button 
              [ngClass]="{'active-button': activeSection === 'Candidates'}" 
              (click)="setActiveSection('Candidates')"
              routerLink="candidates">
        <mat-icon>people</mat-icon> Candidates
      </button>

      <!-- Psychologist Sidebar Button -->
      <button *ngIf="userType === 'D'" mat-button 
              [ngClass]="{'active-button': activeSection === 'Patients'}" 
              (click)="setActiveSection('Patients')"
              routerLink="patients">
        <mat-icon>medical_services</mat-icon> Patients
      </button>
    </div>
    <div class="spacer"></div>
    <div class="link-container">
      <div class="white-bar"></div> <!-- Add this div for the white bar -->
      <p (click)="navigateTo('privacy')" class="link">Privacy Policy</p>
      <p (click)="navigateTo('terms')" class="link">Terms and Conditions</p>
      <label>©2024 NureonAI</label>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
