.contact-container {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
    height: 85%;
  }
  
  .contact-card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-left: 5px solid #7CB0EB; /* Light blue border */
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #1A7F5B; /* Dark green */
    text-align: center;
    margin-bottom: 20px; /* Increased space between title and first input */
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between form fields */
  }
  
  .form-field {
    width: 100%;
  }
  
  .mat-form-field-outline {
    border-color: #5BC795 !important; /* Light green for outline */
  }
  
  .mat-form-field-label {
    color: #1A7F5B !important; /* Dark green for label */
  }
  
  .submit-btn {
    background-color: #FF6D33;
    color: white;
    font-weight: bold;
    width: 100%;
  }
  
  .submit-btn:hover {
    background-color: #FFBF1F; /* Yellow on hover */
  }
  